body {
  background: #5f788a;
  color: #ffffff;
  margin-top: 5rem;
  margin-left: 5rem;
}

h1{
  color: #ffffff;
}

.btn {
  background-color: #00ffbf;
  color: #000000;
}

.thumbnail-image {
  width: 50px;
  height: 50px;
}

.dark-mode {
  background-color: #5f788a;
  color: #ffffff;
}

.light-mode {
    background-color: #ffffff;
    color: #5f788a;
}
