body {
  background: #ffffff;
  color: #ffffff;
  width: 600px;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
}

h1{
  width: 600px;
  margin: 0 auto;
  color: #000000;
}

.form-control-label {
  color: #000000;
}

.forDarkModeUse {
 
}

.white-text {
  color: #ffffff;
}

.dark-mode {
  background-color: #5f788a;
  color: #ffffff;
}

.thumbnail-image {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.form-group {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.btn-submit {
  width: 50%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-submit:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}


#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}


