body {
  background-color: #5f788a;
  color: #ffffff;
  width:fit-content;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 65px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

h1 {
  height: 50px;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 5px;
}

p {
 padding: 5px;
 margin: 0 auto;
 font-size: 20px;
}

h2{
  width: 600px;
  margin: 0 auto;
  color: #ffffff;
  padding: 5px;
}

.form-control-label {
  color: #ffffff;
}


.forDarkModeUse {
 
}

.white-text {
  color: #ffffff;
}

.dark-mode {
  background-color: #5f788a;
  color: #ffffff;
}

.thumbnail-image {
  width: 50px;
  height: 50px;
  padding: 5px;
  float: left;
}

.form-group {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.submit-btn {
  width: 50%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.submit-btn:hover {
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

div#feedback {
  padding: 10px;
  margin: 0 auto;
}

a img{
  border: 0 none;
}

.image-link{
  text-decoration: none;
}

.toggle {
  position: fixed;
  bottom: 10px;
  left: 5px;
}

