<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <script src="{{ url_for('static', filename='server.js') }}"></script>
</head>

<body>
  <span>
    <a href="{{ url_for('home.home_page') }}">
      <img class="thumbnail-image" src="{{ url_for('static', filename='drexel-university-logo-png-transparent.png') }}">
    </a>
  </span>
  <div id="modelStatus">
    
  </div>
  <div id="myProgress">
    <div id="myBar"></div>
  </div>
</body>

<script>
  function checkModelStatus() {
    console.log("Checking Model Status");
    return fetch(`/modelStatus`)
      .then(response => {
        return response.json();
      })
      .then(data => {
        modelStatus = document.getElementById('modelStatus');
        modelStatus.textContent = JSON.stringify(data);
        return data;
      });
  }
  let intervalID;
  function startFetchInterval() {
    intervalID = setInterval(() => {
      let data = checkModelStatus();
      console.log(data);
      if (data["status"] == 'complete') {
        clearFetchInterval();
      }
    }, 2000);

  }
  function clearFetchInterval() {
    clearInterval(intervalID);
  }

  startFetchInterval();

</script>

</html>