<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/home.css">
  </head>
  <body>
    <h1>Choose Files for Upload</h1><br>
    <form action="{{ url_for('server.server') }}" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-12 form-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="Your Email" class="form-control">
            {% for error in form.email.errors %}
                <small class="text-danger">{{ error }}</small>  
            {% endfor %}
        </div>
        <div class="col-sm-6 form-group">
            <label>Images</label>
            <input type="file" name="file" class="form-control-file" multiple>
            {% for error in form.file.errors %}
                <small class="text-danger">{{ error }}</small>  
            {% endfor %}
        </div>
        <div class="col-12 form-group btn">
            <button class="btn btn-primary">Upload</button>
        </div>
         {% if loadingbar %}
          <div class="loadingbar">
            <p> loading bar goes here!! </p>
          </div>
         {% endif %}
    </div>
    </form>
  </body>
</html>
