<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  </head>
  <body>
    <a href="{{ url_for('home.home_page') }}"> 
      <img class="thumbnail-image" src="{{ url_for('static', filename='drexel-university-logo-png-transparent.png') }}" > 
    </a> 
    <h1>Choose Files for Upload</h1><br>
    <form action="/server" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-12 form-group">
             <label class="form-control-label" for="email">Email</label>
                  <input class="form-control form-control-lg" id="email" name="email" required type="text">
        </div>

        <div class="col-12 form-group">
          <div class="file-upload">
            <div class="image-upload-wrap">
              <input class="file-upload-input form-control form-control-lg" id="file" multiple name="file" type='file' onchange="readURL(this);" 
                  onclick="$('.file-upload-input').trigger( 'click' )"/>
              <div class="drag-text">
                <h3>Drag and drop a file or select to add Image</h3>
              </div>
            </div>

            <div class="file-upload-content">
              <img class="file-upload-image" src="#" alt="your image" />
              <div class="image-title-wrap">
                <button type="button"  onclick="process_email()" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
              </div>
            </div>

          </div>
        </div>

        <div class="form-group">
            <input class="btn btn-primary btn-outline-info" id="submit" name="submit" type="submit" value="Submit Images">
        </div>
        
        {% if loadingbar %}
          <div class="loadingbar">
            <p> loading bar goes here!! </p>
          </div>
        {% endif %}
         
    </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/home.js"></script>
  </body>
</html>