<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  </head>
  <body>
    <span>
    <a href="{{ url_for('home.home_page') }}"> 
      <img class="thumbnail-image" src="{{ url_for('static', filename='drexel-university-logo-png-transparent.png') }}" > 
    </a> 
    <button onclick="toggleBackground()">
    Toggle Dark Mode
    </button>
  </span>
    <h1 class="forDarkModeUse">Choose Files for Upload</h1><br>
    <form action="{{ url_for('server.server') }}" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-12 form-group">
             {{ form.email.label(class="form-control-label forDarkModeUse") }}
             {% if form.email.errors %}
                {{ form.email(class="form-control-email form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
                {{ form.email(class="form-control-email form-control-lg") }}
            {% endif %}
        </div>

        <div class="col-12 form-group form-control-label forDarkModeUse">
          {{ form.file.label(class="form-control-label file-upload-input") }}
            Images
            {% if form.file.errors %}
              {{ form.file(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.file.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
              {{ form.file(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-group " >
          {{ form.submit(class="btn btn-primary btn-outline-info") }}
        </div>
        
        {% if loadingbar %}
          <div class="loadingbar">
            <p> loading bar goes here!! </p>
          </div>
         {% endif %}
         {% if content %}
         <div class="model-content">
           <p> model classification goes here!! </p>
         </div>
        {% endif %}
    </div>
    </form>
    <script> 
      function toggleBackground() {
        var element = document.body;
        element.classList.toggle('dark-mode');
        var whiteText = document.getElementsByClassName("forDarkModeUse");
        Array.from(whiteText).forEach(function (x) {
          x.classList.toggle("white-text");
        });
    } 
  </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/home.js"></script>
  </body>
</html>
